@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
/* 
- Mobile: 375px - Desktop: 1440px (My laptop 1920px)
500px, 600px, 700px, 800px, 1000px
*/
/* Global */
:root {
  --dark-text: hsl(229, 25%, 31%); /*Neutral*/
  --score-text: hsl(229, 64%, 46%); /*Neutral*/
  --header-outline: hsl(217, 16%, 45%); /*Neutral*/

  --scissors-gradient-a: hsl(39, 89%, 49%); /*Primary*/
  --scissors-gradient-b: hsl(40, 84%, 53%); /*Primary*/
  --paper-gradient-a: hsl(230, 89%, 62%); /*Primary*/
  --paper-gradient-b: hsl(230, 89%, 65%); /*Primary*/
  --rock-gradient-a: hsl(349, 71%, 52%); /*Primary*/
  --rock-gradient-b: hsl(349, 70%, 56%); /*Primary*/
  --lizard-gradient-a: hsl(261, 73%, 60%); /*Primary*/
  --lizard-gradient-b: hsl(261, 72%, 63%); /*Primary*/
  --cyan-a: hsl(189, 59%, 53%); /*Primary*/
  --cyan-b: hsl(189, 58%, 57%); /*Primary*/

  --radial-gradient-a: hsl(214, 47%, 23%); /*Background*/
  --radial-gradient-b: hsl(237, 49%, 15%); /*Background*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  utline: 1px solid white;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Barlow Semi Condensed", "Trebuchet MS";
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    var(--radial-gradient-a),
    var(--radial-gradient-b)
  );
  color: white;
}
main {
  width: 375px;
  height: 100%;
  display: grid;
  grid-template: 3fr 5fr 1fr / auto;
  grid-template-areas:
    "one"
    "two"
    "three";
  padding: 1rem;
  gap: 0.5rem;
}
/* Header */
header {
  grid-area: one;
  padding: 0.3rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template: 1fr 1fr 1fr / auto;
  grid-template-areas:
    "header-one"
    "header-two"
    "header-three";
  gap: 0.2rem;
}
aside {
  grid-area: header-one;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--header-outline);
  border-radius: 0.2rem;
  padding: 0.2rem;
}
#logo-div{
  width: 80px;
  position: "relative";
}
#logo {
  width: 100%;
}
nav {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
}
.score {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0.2rem;
  padding: 0.1rem;
}
h2 {
  font-size: 0.7rem;
  color: var(--header-outline);
  text-align: center;
}
h3 {
  color: var(--dark-text);
  font-size: 1.6rem;
}
#human-row {
  grid-area: header-two;
}
#robot-row {
  grid-area: header-three;
}
.hr-rows {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  border: 2px solid var(--header-outline);
  border-radius: 0.2rem;
  padding: 0.2rem;
}
.icon-div {
  background-color: white;
  padding: 0.1rem;
  border-radius: 0.2rem;
  width: 32px;
  position: relative;
}
li {
  list-style: none;
  padding: 0.2rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 2px solid var(--header-outline);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 100%;
}
/* Section Article*/
section {
  grid-area: two;
  padding: 0.3rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
article {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#triangle-div{
  width: 219px;
  position: relative;
}
#triangle {
  width: 100%;
}
.rps-divs {
  background-color: white;
  width: 6rem;
  height: 6rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
}
#rock-div {
  position: absolute;
  top: -40px;
  left: -10px;
  border: 10px solid var(--rock-gradient-a);
}
#paper-div {
  position: absolute;
  top: -40px;
  right: -10px;
  border: 10px solid var(--paper-gradient-a);
}
#scissors-div {
  position: absolute;
  bottom: -30px;
  left: 60px;
  border: 10px solid var(--scissors-gradient-a);
}
/* Section .feedback*/
#feedback {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-template-areas:
    "top-left top-right"
    "bottom bottom";
  padding: 1rem;
  gap: 0.5rem;
}
#you-picked {
  grid-area: top-left;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
#robot-picked{
  grid-area: top-right;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
.picked-div{
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  position: relative;
}
#you-icon{
  border: 10px solid var(--rock-gradient-a);
}
#robot-icon{
  border: 10px solid var(--paper-gradient-a);
}
#result{
  grid-area: bottom;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap:0.5rem;
}
strong{
  font-size: 3rem;
}
button{
  padding: 0.5rem 2.5rem;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
  font-weight: bolder;
}
/* Footer */
footer {
  grid-area: three;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
}
form {
  border: 2px solid var(--header-outline);
  border-radius: 0.2rem;
  padding: 0.3rem;
  height: 80%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
a {
  color: var(--cyan-b);
}
h5 {
  font-size: 0.9rem;
}
h6 {
  font-size: 0.9rem;
}
menu {
  border: 2px solid var(--header-outline);
  border-radius: 0.2rem;
  height: 80%;
  padding: 0.2rem 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1rem;
}
menu:hover {
  cursor: pointer;
}
/* Dialog Rules Modal */
dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 24rem;
  width: 18rem;
  transform: translate(-50%, -50%);
  padding: 1rem;
}
dialog[open] {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}
b {
  letter-spacing: 0.1rem;
}
#rules {
  width: 95%;
}
#close:hover {
  cursor: pointer;
}
/* Media Queries */

@media (min-width: 500px) {
  main {
    width: 475px;
  }
}
@media (min-width: 600px) {
  main {
    width: 570px;
  }
}
@media (min-width: 700px) {
  main {
    width: 665px;
  }
}
@media (min-width: 800px) {
  main {
    width: 760px;
    grid-template: 5fr 1fr / 1fr 1fr;
    grid-template-areas:
      "left up"
      "left down";
  }
  header {
    grid-area: left;
  }
  .icon-div {
    width: 40px;
  }
  li {
    height: 3rem;
    width: 3rem;
  }
  section {
    grid-area: up;
  }
  footer {
    grid-area: down;
  }
  aside {
    padding: 0.5rem;
  }
  #logo-div{
    width: 100px;
  }
  .score {
    width: 4.5rem;
    height: 4.5rem;
  }
  h2 {
    font-size: 0.9rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  #triangle-div {
    width: 282px;
  }
  #rock-div {
    top: -40px;
    left: -20px;
  }
  #paper-div {
    top: -40px;
    right: -20px;
  }
  #scissors-div {
    bottom: -10px;
    left: 95px;
  }
  .picked-div{
    width: 6.5rem;
    height: 6.5rem;
  }
  small{
    font-size: 1.2rem;
  }
}
@media (min-width: 1000px) {
  main {
    width: 950px;
  }
  .icon-div {
    width: 48px;
  }
  li {
    height: 3.5rem;
    width: 3.5rem;
  }
}
